/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 12, 2022, 3:11:32 PM
    Author     : Star fruit
*/

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: black;
    -fx-padding: 5px 5px 5px 5px;
}

.table-view .column-header{
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}

.table-view .column-header .label {
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: white;
    -fx-padding: 2px;
}

.table-view .table-cell{
    -fx-background-color: transparent;
    -fx-padding: 5px 5px 5px 5px;
    -fx-font-size: 15px;
}

.table-row-cell: hover {
    -fx-background-color: #D5D5D5;
}

.table-row-cell: even {
    -fx-padding: 0.0em;
}

.table-row-cell: odd {
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}